<div class="container">
  <mat-card id="company-card" *ngIf="!isLoading">
    <form (submit)="onSubmitUserDetails(userForm)" #userForm="ngForm">
      <div class="field-text">
        <mat-form-field appearance="standard" color="accent">
          <mat-label><mat-icon>account_circle</mat-icon> Full name:</mat-label>
          <input matInput type="text" name="fullname" ngModel required>
          <mat-error>Please enter a valid full name</mat-error>
        </mat-form-field>
      </div>

      <div class="field-text">
        <mat-form-field appearance="standard" color="accent">
          <mat-hint>example: +36301234567</mat-hint>
          <mat-label><mat-icon>phone</mat-icon> Phone number:</mat-label>
          <input matInput type="text" name="phoneNumber" ngModel required placeholder="example: +36301234567">
          <mat-error>Please enter a valid phone number</mat-error>
        </mat-form-field>
      </div>

      <p class="picked-file">Accepted formats: PDF*</p>
      <div id="cv-upload" class="field-text">
        <input type="file" #chooseCV (change)="onChooseCV($event)">
        <button mat-stroked-button id="upload-button" type="button" (click)="chooseCV.click()">Upload CV</button>
      </div>

        <p class="picked-file">
          <a [href]="filePath" *ngIf="filePath" id="filepath-link">
            {{ nameOfPickedFile }}
          </a>
          <ng-container *ngIf="!filePath">
            {{ nameOfPickedFile }}
          </ng-container>
        </p>
      <div id="buttons-container">
        <button mat-raised-button class="save-btn" type="submit">Save</button>
        <button mat-raised-button class="cancel-btn" routerLink="/">Cancel</button>
      </div>
    </form>
  </mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>

