<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [opened]="isSidenavOpen">
    <div *ngIf="userIsAuthenticated">
      <div *ngFor="let choice of userChoices">
        <a [routerLink]="[choice.nav]">
          <div class="sidenav-item">
              <span> {{ choice.text }} </span>
          </div>
        </a>
      </div>
    </div>
    <div *ngIf="employerIsAuthenticated">
      <div *ngFor="let echoice of employerChoices">
        <a [routerLink]="[echoice.nav]">
          <div class="sidenav-item">
              <span> {{ echoice.text }} </span>
          </div>
        </a>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()" *ngIf="userIsAuthenticated || employerIsAuthenticated"> <!--  [disabled]="!userIsAuthenticated" -->
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/">
        <span class="brand-span">{{ brand }}</span>
      </a>
      <span class="fill-space"></span>

        <span class="action-auth-span" *ngIf="!(userIsAuthenticated || employerIsAuthenticated)">
          <button mat-button routerLink="/signin" class="action-button-text">
            {{ signinText }}
          </button>
        </span>

        <span class="action-auth-span" *ngIf="userIsAuthenticated || employerIsAuthenticated">
          <button mat-button routerLink="/signin" class="action-button-text" (click)="onSignOut()">
            Sign Out
          </button>
        </span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

