.register-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#signup-shadow{
  box-shadow: 0 5px 10px 0 rgb(21, 49, 179), 0 5px 10px 0 rgb(21, 49, 179);
}

.signup-field{
  width: 100%;
  margin-bottom: 20px;
}

mat-label{
  color: white;
}

#register-button {
  background-color: #ff4081;
  color: white;
  margin-top: 20px;
  width: 100%;
}

#login-link {
  text-decoration: underline;
  color: #ff4081;
}
#register-span{
  margin-left: 10px;
}

#signin-footer{
  text-align: center;
}
/* .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: white;
}
mat-slide-toggle{
  float: right;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: lightgrey;
} */
