<!-- <h1 class="page-title">Sign Up</h1> -->

<div class="container">
  <div class="register-container" *ngIf="!isLoading">
    <mat-card id="signup-shadow">
      <form (submit)="onSignUp(registerForm)" #registerForm="ngForm">
        <mat-form-field appearance="outline" color="accent" class="signup-field">
          <mat-label><mat-icon>email</mat-icon> E-mail:</mat-label>
          <input matInput type="email" name="email" ngModel placeholder="E-mail:" #emailInput="ngModel" required email>
          <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent" class="signup-field">
          <mat-label><mat-icon>lock</mat-icon> Password:</mat-label>
          <input matInput type="password" name="password" ngModel placeholder="Password:" #passwordInput="ngModel" required>
          <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent" class="signup-field">
          <mat-label><mat-icon>lock</mat-icon> Password Confirmation:</mat-label>
          <input matInput type="password" name="passwordConfirm" ngModel placeholder="Password Confirmation:" #passwordConfirmInput="ngModel" required>
          <mat-error *ngIf="passwordConfirmInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <!-- <mat-form-field appearance="outline" color="accent" *ngIf="isEmployer">
          <mat-label>Company Name</mat-label>
          <input matInput type="text" name="companyName" ngModel placeholder="Company:" #companyNameInput="ngModel" required>
          <mat-error *ngIf="passwordConfirmInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field> -->
        <div>
          <mat-slide-toggle [checked]="isEmployer" (change)="isChecked()">Sign Up as Company</mat-slide-toggle>
        </div>
        <button id="register-button" mat-raised-button type="submit">Sign Up</button>
        <div id="signin-footer">
          <p>Already have an account?
            <a id="login-link" routerLink="/signin">Sign In</a>
            here
          </p>
        </div>
      </form>
    </mat-card>
  </div>
</div>

<div *ngIf="isLoading" class="spinner-container">
  <mat-spinner></mat-spinner>
  <span class="loading-text">Signing up...</span>
</div>

